*,
html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "HindVadodara-regular";
}

#root {
  overflow: hidden;
}

@font-face {
  font-family: "HindVadodara-regular";
  src: url("assets/fonts/HindVadodara-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HindVadodara-bold";
  src: url("assets/fonts/HindVadodara-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HindVadodara-semi-bold";
  src: url("assets/fonts/HindVadodara-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HindVadodara-medium";
  src: url("assets/fonts/HindVadodara-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-regular";
  src: url("assets/fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
